name: CI

on:
  push:
    branches: [main]


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 2. Get your code from GitHub
      - name: Checkout code
        uses: actions/checkout@v4

      # 3. Setup Node.js environment
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # 4. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 5. Build the project
      - name: Build project
        run: npm run build